* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.container {
  width: 400px;
  min-height: 230px;
  background-color: rgba(123, 231, 255, 0.685);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}
.heading {
  text-align: center;
}
.url input {
  width: 300px;
  margin: 30px 0px 20px 0px;
  padding: 10px;
  border: none;
  border-radius: 7px;
}
.url input::placeholder {
  letter-spacing: 1px;
  color: black;
}
.url button {
  padding: 10px;
  border: none;
  background-color: rgb(0, 0, 255);
  color: white;
  border-radius: 7px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.url button:focus {
  border: none;
}
.url input:focus {
  outline: none;
}
.download button {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: blue;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
}
button:hover {
  background-color: rgb(56, 64, 252);
}
.image img {
  transition: 0.5s ease-in;
  border-radius: 5px;
}
